{% extends "common/_base.html" %}

{% block title %}
    <title>ExpenseTracker</title>
{% endblock %}
{% block content %}
    <h2 class="text-3xl">Add expense:</h2>
    <form hx-post="/expense" hx-swap="beforeend" hx-target="#expenses_list">
        {% csrf_token %}
        <label for="item_name">Item name:</label>
        <input id="item_name" type="text" placeholder="Expense name" name="item_name"/>

        <label for="item_price">Item price:</label>
        <input id="item_price" type="number" placeholder="100" required name="item_price"/>

        <button type="submit">Add expense</button>
    </form>
    {% include "expensetracker/chart.html" %}
    <h1>List of expenses:</h1>
    <div id="expenses_list" hx-get="/expenses" hx-trigger="load">

    </div>
{% endblock %}
