{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
    {% block inlinescripts %} {% endblock %}
    {% block title %}
        <title>Django+HTMX</title>
    {% endblock %}
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>
<body>
{% include "common/_navbar.html" %}
{% block content %}
{% endblock %}
</body>
</html>